<import: src="boot">
<Body:> 
<form class="form-horizontal">
  <div id="divPeeps" class="container"> 
    <section id="secHeader">
      <h1>Potlucker 6000</h1>
      <h2>Manage Players</h2> 
      <h3>{potluck.message}</h3>
    </section>
    <!--Body content--> 
    <section id="secPeople">
      <table id="tblPeople" class="table table-horizontal table-hover table-bordered">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-mail</th>
          <th>Ranking</th>
        </thead>
        <tbody>
          {#each potluck.people as :person}
          <tr>
            <td>{:person.firstName.value}</td>
            <td>{:person.lastName.value}</td>
            <td>{:person.email.value}</td>
            <td>{:person.ranking.value}</td>
          </tr> 
          {/}
        </tbody>
      </table> 
    </section> 
  </div> 
</form>
<div class="container">
  <section id="secNewPerson">
    <div class="form-actions">
      <div class="row-fluid"> 
          <app:boot:input data="{potluck.person.firstName}">
          <app:boot:input data="{potluck.person.lastName}">
          <app:boot:input data="{potluck.person.email}">
          <app:boot:input data="{potluck.person.ranking}">
      </div>
      <div class="row-fluid">
        <div class="span12">
          <a x-bind="click: add" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
  </section>
</div>