<import: src="home">
<import: src="start">

<Title:>
  Potluck

<Header:>
  <!-- This is a component defined in the /ui directory -->
  <ui:connectionAlert>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Potluck</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {{#each pages}}
              <li class="{{#if equal(url, activeUrl)}}active{{/}}"><a href="{{url}}">{{title}}</a></li>
            {{/}}
          </ul>
        </div>
      </div>
    </div>
  </div>
 